.searchBarContainer {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 20px;
}

.searchBar {
  align-self: flex-start;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

.productsLength {
  align-self: center;
  font-size: 18px;
}
