.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.mainContentTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.mainContentText {
  font-size: 1.2rem;
  text-align: center;
  max-width: 600px;
  margin-bottom: 6rem;
}
