.itemContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .itemContainer {
    flex-direction: column;
  }
}

.productMainInfo {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.productTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.productQualification {
  font-size: 1.2rem;
  color: #666;
  margin: 20px 0px;
}

.buyButton {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #009600;
  color: white;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  transition: transform 0.2s;
}

.buyButton:active {
  animation: bounce 0.4s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

.descriptionContainer {
  margin-top: 20px;
}

.descriptionTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.productImage {
  width: 60%;
  border-radius: 8px;
  object-fit: contain;
}
